.App {
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
}

.App pre {
  margin: 10px 30px;
  text-align: left;
  font-size: 2em;
}

.words {
	display: flex;
	align-items: center;
	justify-content: center;
}

.word {
	font-size: 3em;
	line-height: 3em;
	font-weight: 500;
	min-height: 170px;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
}

.word.current {
	color: #000;
	flex: 2;
}

.word.next, .word.prev {
	color: #000;
	opacity: 0.2;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
